<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje de Recuperación - Pizzasoft</title>

    <!-- Hoja de estilos específica para la página de recuperar contraseña -->
    <link rel="stylesheet" href="../../css/components/mensajeRecuperacion.css">

    <!-- Google Fonts: preconexión y carga de fuentes (una sola llamada) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=VT323&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <img src="../../assets/imagenes/logo.png" alt="logo pizzasoft" class="header__logo">
    </header>

    <main class="main">
        <h1 class="main__titulo">pizzasoft</h1>
        <h2 class="main__subtitulo">Recuperar Contraseña</h2>

        <div class="recovery-message">
            <p class="recovery-message__text">Revise el correo de cambio de contraseña enviado a m*********.@******.com
            </p>
            <button type="submit" class="recovery-form__button">Enviar</button>
        </div>
    </main>

    <footer class="footer">
        <p class="footer__text">Version 1.0</p>
    </footer>
</body>

</html>

