<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rol-admin</title>

    <!-- Hoja de estilos -->
    <link
      rel="stylesheet"
      href="../../css/components/restablecerContrasena.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=VT323&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header">
      <img
        src="../../assets/imagenes/logo.png"
        alt="logo pizzasoft"
        class="header__logo"
      />
    </header>

    <main class="main">
      <h1 class="main__titulo">pizzasoft</h1>

      <div class="login-contenedor">
        <h2 class="login-contenedor__titulo">recuperar Contraseña</h2>
        <p class="login-contenedor__subtitulo">Ingrese su correo</p>

        <form action="#" class="input-grupo" method="POST">
          <label class="input-grupo__label" for="usuario">Correo:</label>
          <input
            class="input-grupo__input"
            type="email"
            id="usuario"
            name="usuario"
            required
          />

          <button type="submit" class="input-grupo__boton">Enviar</button>
        </form>
      </div>
    </main>

    <footer class="mi-footer">
      <p class="mi-footer-text">Version 1.0</p>
    </footer>
  </body>
</html>
