:root {
    --color-primario: #ff7b00;
    --color-texto: #fff;
    --fuente-principal: 'Poppins', sans-serif;
    --inicio-titulo:black;
    --inicio-subtitulo:orange;
}

/*reset universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuente-principal);
    background-size: cover;
    background-image: linear-gradient(rgba(182, 178, 178, 0.5), rgba(187, 173, 173, 0.5)), url('../assets/imagenes/photo-1517601278517-456741619dad.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
}


.header{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}
.header_logo{

    grid-column: 2/2;
    grid-row: 2/2;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.inicio {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--color-texto);
    padding: 2rem;
}



.inicio__contenido {
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inicio__titulo {
    color:var(--hero-subtitulo);
    margin-bottom: 20px;

}
.inicio__boton {
    background-color: var(--color-primario);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--color-texto);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    font-size: 1.1rem;
}

.inicio__boton:hover {
    background-color: #ffa733;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .inicio__titulo {
        font-size: 1.8rem;
    }
    .inicio__boton {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
    }
}

